.title {
    text-align: center;
    background-color: black;
    color: white
}

.image {
    height: auto;
    width: 400px;
    display: block;
    margin: 0 auto;
}

#second {
    font-size: medium;
}

#first {
    font-size: larger;
}

ul {
    display: table;
    margin: 0 auto;
    text-align: center
}